body {
  width: 100vw;
  overflow-x: hidden;
}

section {
  max-width: 60rem;
  max-height: 30rem;
  margin: var(--space-4) auto;
}

#product-detail {
  width: 100%;
  height: 100%;
  padding: var(--space-4);
  background-color: var(--color-gray-600);
  margin-top: var(--space-8);
  border-radius: var(--border-radius-small);
}
/* 
#product-detai div{
    display: flex;
    justify-content: center;
   } */

#product-detail-image{
 width: 100%;
border-radius: var(--border-radius-small);
}

#product-description{
 padding: var(--space-4);
 background-color: var(--color-primary-500-bg);
 white-space: pre-wrap;
 border-radius: var(--border-radius-small);
}

@media (min-width: 38rem) {
    #product-detail{
        display: flex;
        height: 25rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center
    };

    #product-detail img{
        width: 50%;
        height: 60%;
        transform: rotate(325deg);
    }
    #product-detail div{
        height: 90%;
    }
 
    #product-detail div h1{
    padding: 0;
    margin: var(--space-1) 0;
    }
    #product-detail-image{
        width: 50%;
        height: 60%;
        transform: rotate(347deg);
        /* transform: rotate(325deg); */
    };


}