<article class="products">
  <img src="<%= product.imagePath %>" alt="" />
  <div class="product-content">
    <h2><%= product.title %></h2>
    <div class="product-action">
      <a href="/admin/product/<%= product.image %>" class="btn alt-btn">View & Edit</a>
      <button class="btn alt-btn">Delete</button>
    </div>
  </div>
  
</article>
