<%- include("../../shared/includes/head", {PageTitle: "All Your Order"})  %>
<link rel="stylesheet" href="style/order.css">
</head>
<body>
    <%- include("../../shared/includes/header") %>
 <main>
    <h1>All Your Orders</h1>

    <section>
      <ul id="orders-container">
        <% if(orderedData.length === 0) { %>
          <p id="no-items-instruction">No order items found!</p>
        <% } %>
        <% for(const orderData of orderedData) { %>
          <%- include('../../shared/includes/order-list', {orderData: orderData}) %>
        <% } %>
      </ul>
    </section>

 </main>



<%- include("../../shared/includes/footer") %>