form hr{
 border-color: var(--color-primary-200);
 margin: var(--space-4);
}
p{
 color: rgb(246, 76, 76);
}

label{
 display: block;
 margin-bottom: var(--space-2);
 color: var(--color-gray-100);
}

input{
 font: inherit;
 padding: var(--space-2);
 border-radius: var(--border-radius-small);
 border: none;
 width: 90%;
}