<%- include("../../shared/includes/head", {PageTitle: "Add New Product"})  %>
<link rel="stylesheet" href="/auth/addProduct.css">
<script src="prev-image.js"></script>
</head>
<body>
    <%- include("../../shared/includes/header") %>
 <main>
    <h1>Add New Product</h1>

    <%- include('includes/product-form', {submitUrl: '/admin/products/' + product.id, product: product, imageRequired: false }) %>

 </main>



<%- include("../../shared/includes/footer") %>