<%- include("../includes/head", {PageTitle: "Sign-up"})  %>
<link rel="stylesheet" href="auth/auth.css">
<link rel="stylesheet" href="auth/form.css">

</head>
<body>
    <%- include("../includes/header") %>
 <main>
    <h1>Create New Account</h1>
    <form action="/signup" method="POST">
        <p>
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email">
        </p>
        <p>
            <label for="confirm-email">Confirm Email</label>
            <input type="email" id="confirm-email" name="confirm-email">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </p>
        <hr>
        <p>
            <label for="fullname">Full-Name</label>
            <input type="text" id="fullname" name="fullname">
        </p>
        <p>
            <label for="street">Street</label>
            <input type="text" id="street" name="street">
        </p>
        <p>
            <label for="codePostal">Code Postal</label>
            <input type="text" id="codePostal" name="code-postal">
        </p>
        <p>
            <label for="city">City</label>
            <input type="city" id="city" name="city">
        </p>
        <button class="btn">Create Account</button>
        <p id="switch-form"><a href="/login">Login Instead</a></p>
    </form>

 </main>



<%- include("../includes/footer") %>